*{
    padding: 0%;
    margin: 0;
    
}
body{
    position: absolute;
    font-family: 'Kumbh Sans', sans-serif;
}
/* --------- Header ----------- */
header{
    position: relative;
    height: 100px;
    border-bottom: 2px solid #EEE;
    padding: 0 ;
    margin-left: 40px ;
    margin-top: 5px;
    transform: translateX(100px);
    width: 80%;
    z-index: 100;
}
#menu{
    display: none;
}
.slideMenu{
    display: none;
}
.logo{
    transform: translatey(3px);cursor: pointer;
}
header .userInfo{
    display: inline-block;
    left: 42%;
    position: relative;
}
header ul {
    display: inline-block;margin-left: 50px;height: 63%;
}
header ul li{
    display: inline-block;margin-right: 10px;cursor: pointer;
    color: #6e6e6e;
    
}
.list:hover{
    border-bottom:3px solid #d56406;height: 100%;
}
.user{
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 2vw;cursor: pointer;
}
.user:hover{
    outline:2px solid orange; 
}
.moreInfo{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position:absolute;
    width: 350px;
    height: 220px;
    top: 90px;
    right: -50px;
    z-index: 100;
    box-shadow: 10px 10px 10px rgb(161, 161, 161);
    border-radius: 10px;
    transition: 1s;
    transform-origin: top;
    transform: scaleY(0);
}
.hideInfo{
    transform: scaleY(1);
}
.moreInfo h4 {
    margin: 10px;

}
.iBuy{
    padding: 16px;
    border-top: 2px solid #EEE;
    z-index: 100;
    align-items: center;
    height: 90px;
    overflow: auto;
}
.iBuy img {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.iBuy p {
    display: inline-block;
    padding: 8px;    
}
.checkOut{
    border: none;
    background-color: #ff7d1b;
    color: white;
    padding: 13px 50px ;
    border-radius: 10px;
    box-shadow: 5px 2px 5px #e27941;
    transition: .0s;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    margin: 2px 85px;
    visibility: hidden;
}

.delete{
    cursor: pointer;
    margin: 2px;
    width: 17px;
}

#empty{
    transform: translate(95px, 55px);
    color: #6e6e6e;
    position: absolute;
    font-weight: bold;
}
/* ------- End Header -------- */
/* --------------------------- */
/* ------- section ----------- */

.contant{
    margin: 30px 200px;
    box-shadow: -3px 10px 5px #6e6e6e;
    position: relative;
    z-index: 0;
}
.contant .prod{
    display: inline-block;  
}
.show .pervice{
    display: none;
}
.show .next{
    display: none;
}
.contant .show img {
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 10px 0px 10px #6e6e6e;
}
.contant .show img:hover {
    opacity: 0.5;
    transition: .3s;
    outline: 2px solid #d56406;
}
.contant .description{
    width: 33vw;
    display: inline-block;
    position: relative;
    bottom: 110px;
    margin-left: 100px;
    margin-top: 110px;
}
.theBig{
    display: block;
    box-shadow: -10px -10px 10px #6e6e6e;
}
.contant .description h4{
    color: #e27941;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.contant .description h1{
    font-size: 36px;
    margin: 11px 0;
}
.contant .description .WhatIs{
    font-size: 16px;
    line-height: 2;
    color: #6e6e6e;
}
.dis-price span{
    font-size: 20px;
    color: #ff9000;
    background-color: #f9b96736;
    padding: 6px;
    border-radius: 10px;
}
.price{
    text-decoration: line-through;
    line-height: 0;
    color: #6e6e6e;
}
.amount input{
    border: none;
    text-align: center;
    width: 50px;
    margin: 0 10px;
    font-size: 16px;
}
.minus , .plus {
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #ff9000;
}
.amount{
    background-color: rgba(238, 238, 238, 0.452);
    display: inline-block;
    width: 103px;
    padding: 15px 10px 10px 10px ;
    border-radius: 10px;
}
.buy-it{
    border: none;
    background-color: #ff7d1b;
    color: white;
    padding: 13px 50px ;
    border-radius: 10px;
    box-shadow: 5px 2px 5px #e27941;
    transition: .0s;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}
.thumbnail img{
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 10px 0px 10px #6e6e6e;
}

.buy-it img {
    margin-right: 5px;
    size: 10px;
}
.buy-it:hover{
    box-shadow: 10px 5px 15px #ff9000;
    transition: .0s;
    background-color: #ff9100;
}

.title {
    margin: 5px;
    padding: 10px;
    color: #6e6e6e;
}
.imgBox{
    width: 100%;
    height: 100%;
    background-color: #33333396;
    position: fixed;
    top: 0;
    left: 0;
    display: initial;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    visibility: hidden;
}
#close{
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 350px;
    width: 30px;
}

.next {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 35%;
    right: 30%;
   }
.next svg{
    margin-left: 15px;
    margin-top: 11px;
   }
.pervice {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 35.8%;
    left: 38.5%;
   }
   .pervice svg{
    margin-left: 12px;
    margin-top: 11px;
   }
/* ---------- Mobile --------------*/

@media(max-width:375px){
    body{
        width: 375px;
        
    }
    header{
        position: sticky;
        height: 100px;
        border-bottom: 2px solid #EEE;
        padding: 0;
        margin: 0px;
        margin-top: 5px;
        width: 80%;
        z-index: 100;
        top: 0;
        background: white;
        width: 100%;
        transform: translateX(0px);
    }
    header ul {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #e8b97191, #d5671b);
        display: none;
    }
    header .userInfo{
        left: 20%;
        display: inline-block;
        position: relative;
    }
    header #menu{
        margin: 0 20px;
        display: inline;
    }
    .user{
        border-radius: 50%;
        position: relative;
        top: 15px;
        left: 20%;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    .moreInfo{
        right: -15px;
        box-shadow: none;
    }
    .contant{
        margin: 0px ;
        width: 375px;
        box-shadow: -3px 10px 5px #6e6e6e;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    .contant .show img{
        width: 100%;
        border-radius: 0;
        box-shadow: 0px 0px 0px #6e6e6e;
        margin: 0;
    }
    .contant .description{
        width: 95%;
        padding: 10px 0 0 5px;
        display: inline-block;
        position: relative;
        bottom: 0px;
        margin-left: 14px;
        margin-top: 5px;
    }
    .contant .description h1{
        font-size: 27px;
        display: inline;
    }
    .contant .description h4{
        letter-spacing: 1px;
        font-size: 14px;
    }
    .thumbnail img{
        display: none;
    }
    .contant .description .WhatIs{
        font-size: 16px;
        line-height: 1.2;
        color: #6e6e6e;
    }
    .price{
        display: inline-block;
        transform: translateX(105px);
    }
    .amount{
        width: 85%;
        padding: 15px 0 10px 30px;
        margin-top: 15px;
    }
    .amount input {
        width: 65%;
    }
    .buy-it{
        border: none;
        background-color: #ff7d1b;
        color: white;
        padding: 13px 50px;
        border-radius: 10px;
        box-shadow: none;
        transition: .0s;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        left: 67px;
        position: inherit;
        margin-bottom: 15px;
    }
    .attribution  {
        margin: 20px; 
    }
   .show .pervice {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 150px;
    left: 20px;
   }
    .pervice svg{
    margin-left: 0px;
    margin-top: 0px;
   }
   .show .next {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 150px;
    right: 20px;
   }
   .show .next svg{
    margin-left: 15px;
    margin-top: 30px;
   }
   #close{
    cursor: pointer;
    position: absolute;
    top: 107px;
    right: 10px;
    width: 30px;
   }
   .slideMenu{
    height: 100%;
    z-index: 1000;
    width: 70vw;
    position: fixed;
    background-color: white;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: left;
    display: initial;
   }
   .slideMenu ul{
    display: block;
    margin: 35px 0;
    font-weight: bolder;
   }
   .slideMenu ul li{
    display: block;margin: 10px;cursor: pointer;
    color: #000;
    text-align: left;
   }
   .list:hover{
    border-right:3px solid #d56406;
    border-bottom:none;
    height: 100%;
    width: 95.5%;
 }
 #menu{
     display: initial;
 }
 .imgBox{
    display: none;
}
}
